/.envrc
/.idea
/daily_journal--project_files/daily_journal_manifestations.md
/daily_journal--project_files/daily_journal_additional_context.md
/daily_journal--project_files/daily_journal_goals.md
/daily_journal--project_files/daily_journal_inspirations.md
/daily_journal--project_files/daily_journal_inspirations.md
/daily_journal--project_files/daily_journal_goals.md
/daily_journal--project_files/daily_journal_inspirations.md
